/*reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
a{
    text-decoration: none;
    color: inherit
}
/*ol-pontinho e ul-numero */

ul, ol, li{
    list-style: none;
}

/*FIM RESET */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: rgb(140, 134, 134);
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 64px;
    width: 80px;
    object-fit: cover;
    background-image: url(./escudo\ 1.0.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

main{
    flex-grow: 1;
    display: flex;
    background-color: rgb(140, 134, 134);
}

.conteudo{
    width: 50%;
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.destaque{
    background-image: url(./torcida.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-color: gray;

}
.conteudo h1{
    font-size: 80px;
}
.conteudo p{
    font-size: 80px;
}
.conteudo button{
    height: 64px;
    width: 300px;
    font-size: 32px;
    background-color: black;
    color: white;

}

.social{
    display: flex;
    justify-content: space-between;
}

.social div{
    height: 80px;
    width: 80px;
    background-color: lightgray;
    border-radius: 50%;

}
.social div.Youtube{
    background-image: url(./novo-design-de-icone-x-do-logotipo-do-twitter-em-2023_1017-45418.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.social div.Instagram{
    background-image: url(./instagram\ 2.0.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.social div.TikTok{
    background-image: url(./ttk.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.destaque{
    width: 50%;
    background-color: black;

}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
}
